{% load static %}
<footer class="mt-auto w-100 bg-light pt-3" id="site-footer">
  <div class="text-center">
    <a class="text-dark" target="_blank" href="http://opengeostat.com/">
      <img src="{% static "opengeostat.png" %}"/> <br />
      Created by OpenGeostat
    </a>
  </div>
  <div class="text-center">
  </div>
  <p class="text-light text-center mt-3 py-3 bg-info mb-auto">Source: <a class="text-light" href="https://www.quandl.com/data/LME-London-Metal-Exchange" target="_blank">London Metal Exchange</a></p>
</footer>
